#cuerpo-carta {
	margin: 0 auto;
	width: 500px;
	padding: 10px;
}

#cuerpo-carta p{
	text-align: justify;
	text-indent: 10em;
}

#header-carta {
	margin: 0 auto;
	width: 500px;
	padding: 10px 10px 0;
}

.imagen {
	width: 70px;
}

#header-carta table{
	margin: 0 auto;
	width: 500px;
	padding: 0;
	background: transparent none repeat scroll 0 50%;
	border: 0 none;
}

.texto_derecha{
	text-align: right;
}

.subrayado{
	text-decoration: underline;
}

.negrita{
	font-weight: bold;
}

#footer-carta {
	margin: 80px auto 0;
	width: 500px;
	padding: 0 10px;
}

#footer-carta table{
	padding: 0 10px 10px;
	margin: 0 auto;
	background: transparent none repeat scroll 0 50%;
	border: 0 none;
	width: auto;
}

#footer-carta table tr td{
	text-align: center;
}