form table tr td, form table th {
	border: 0px;
}
table {
	/*margin: 10px 0;
	background: #EEEEEE none repeat scroll 0 0;
	border: 1px solid #1C384D;
	padding: 5px;
	width: 100%;
	border-spacing: 0;*/
	
	/*background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #1C384D;
	border-spacing:0;
	margin:10px;
	padding:5px;
	width:97.4%;*/
	
	background:#EEEEEE none repeat scroll 0 0;
	border:1px solid #1C384D;
	border-spacing:0;
	margin:10px;
	padding:5px;
	width:714px;
}

tr {

}

tr th {
	text-align:left;
	border: 1px solid #FFFFFF;
	padding-left:5px;
}

tr td {
	text-align:left;
	border: 1px solid #FFFFFF;
	padding:1px 5px;
}

td textarea {
	font-size:13px;
	height:100px;
	width:99.5%;
}

div#acciones_agenda h2,
div#acciones_perfil h2,
div#acciones_acreedor h2,
div#acciones_deudor h2,
div#acciones_tribunal h2,
div#acciones_causa h2,
div#acciones_tipo_gasto h2,
div#acciones_tipo_pago h2,
div#acciones_tipo_garantia h2,
div#acciones_tipo_documento h2,
div#acciones_informe h2,
div#acciones_diligencia h2,
div#acciones_gasto h2,
div#acciones_abono h2,
div#acciones_carta h2,
div#acciones_escrito h2,
div#acciones_usuario h2{
	background:#1C384D none repeat scroll 0 0;
	border:1px solid #1C384D;
	margin:-10px 10px;
	padding:2px 10px;
	text-align:right;
	color:white;
}

ul.error_list {
	background:#EAB5B5 url(../images/icon_error.gif) no-repeat scroll 5px 2px;
	border:1px solid #901919;
	color:#901919;
	font-size:15px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:1px;
	padding-left:25px;
}

.small-font {
	font-size: 12px;
}

ul.radio_list{
	margin: 0;
	padding: 0;
}

ul.radio_list li{
	display:inline;
}

.editar{
	background: #EEEEEE url(../images/form/botones/page_edit.png) no-repeat scroll 5% 50%;
}

.anadir{
	background: #EEEEEE url(../images/form/botones/add.png) no-repeat scroll 5% 50%;
}

.buscar{
	background: #EEEEEE url(../images/form/botones/search.png) no-repeat scroll 5% 50%;
}

.cancelar{
	background: #EEEEEE url(../images/form/botones/remove.png) no-repeat scroll 5% 50%;
}

.guardar{
	background: #EEEEEE url(../images/form/botones/save.png) no-repeat scroll 5% 50%;
}

.cerrar{
	background: #EEEEEE url(../images/form/botones/delete.png) no-repeat scroll 5% 50%;
}

.eliminar{
	background: #EEEEEE url(../images/form/botones/database_remove.png) no-repeat scroll 5% 50%;
}

.detalles{
	background: #EEEEEE url(../images/form/botones/page_search.png) no-repeat scroll 5% 50%;
}

.reporte{
	background: #EEEEEE url(../images/form/botones/word.png) no-repeat scroll 5% 50%;
}

.llevar{
	background: #EEEEEE url(../images/form/botones/arrow_rotate_clockwise.png) no-repeat scroll 5% 50%;
}

.cambiar{
	background: #EEEEEE url(../images/form/botones/arrow_refresh_small.png) no-repeat scroll 5% 50%;
}

.aceptar{
	background: #EEEEEE url(../images/form/botones/accept.png) no-repeat scroll 5% 50%;
}

.imprimir{
	background: #EEEEEE url(../images/printer.png) no-repeat scroll 5% 50%;
	color: black;
	padding-right: 5px;
}

.abonar{
	background: #EEEEEE url(../images/form/botones/money_dollar.png) no-repeat scroll 5% 50%;
}

.login{
	background: #EEEEEE url(../images/form/botones/key.png) no-repeat scroll 5% 50%;
}

.carta{
	background: #EEEEEE url(../images/form/botones/email_edit.png) no-repeat scroll 5% 50%;
}

.escrito{
	background: #EEEEEE url(../images/form/botones/note_edit.png) no-repeat scroll 5% 50%;
}

.boton_con_imagen{
	/*border:2px solid #AAAAAA;
	padding-left:20px;*/
	
	border-color:#1C384D;
	border-style:solid;
	border-width:1px 2px 2px 1px;
	padding:0 5px 0 25px;
	margin: 2px 10px;
}

div.reporte_ {
	border: 1px solid #1C384D;
	background: #EEEEEE none repeat scroll 0 0;
	padding: 5px;
	margin: 10px;
}

.tddestacado{
	background: #1C384D none repeat scroll 0 0;
	color: #EEEEEE;
	text-align: center;
	font-weight: bold;
}

#form-tipo-carta,
#form-tipo-escrito {
	background:#1C384D none repeat scroll 0 0;
	margin:10px;
	padding-right:10px;
    text-align: right;

}

#form-tipo-carta input,
#form-tipo-escrito input {
	margin:0

}

#vencidas h2{
	background:#1C384D none repeat scroll 0 0;
	border:1px solid #1C384D;
	margin:-10px 10px;
	padding:2px 10px;
	text-align:right;
	color:white;
}
