@import url("layout.css");
@import url("estilo.css");
@import url("menuprincipal.css");
@import url("menumodulo.css");
@import url("form.css");
@import url("login.css");
@import url("sfGuardUser.css");
@import url("carta.css");

.boton_con_imagen,
.menu-modulo,
div#header,
div#info-bar,
div#menu-bar,
div#sfWebDebug,
div#footer {
	display: none !important;
}

div#main-div {
	background: none !important;
	border: none !important;
	width: 744px !important;
}

div#modulo h1 {
	text-align:right;
	margin: 0 !important;
	padding: 0 !important;
	height: 0 !important;
	border: 0 !important;
	font-size: 0 !important;
}