div#main-login{
	width: 800px;
	height: 300px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-top: -150px;
	margin-left: -400px;
	background: #FFF;
}

div#modulo-login{
	width: 400px;
	margin: 100px auto;
	padding: 10px;
	/*border: 5px double #1c384d;*/
}

div#modulo-login h2 {
	margin: 10px 0;
}

div#modulo-login form table {
	background:#EEEEEE url(../images/login/llaves.gif) no-repeat scroll 98% 98%;
	margin:10px 0 !important;
	width:100% !important;
}

div#modulo-login form table td, 
div#modulo-login form table th {
	border: 0;
}

div#modulo-login h2 {
	border: 1px solid #1c384d;
	background: #1c384d;
	color: white;
	margin:0 0 -10px;
	padding:10px;
}

h4.informacion{
	margin: 5px 0 10px !important;
	background:#75B973 url(../images/info.png) no-repeat scroll 1% 50%;
	border:1px solid #195519 !important;
	color:#195519;
	font-weight:bold;
	padding: 5px 5px 5px 40px;
}